# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build files
node_modules
!dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase
storybook-static

# Ignore test files
__tests__
coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts
*.test.tsx
*.spec.tsx

# Source code
src
.github
tsconfig.json
.prettierrc
.prettierignore
.lintstagedrc.js
.eslintrc.cjs
.eslintignore
tsup.config.ts
yarn.lock